<link href="css/formations.css" rel="stylesheet">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
  </svg>
<%-include ('partials/nav');-%> 
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Fomations</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item inactive">home</li>
                            <li class="breadcrumb-item active">formations</li>
                        </ol>
                  
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-database"></i>
                               liste des formations 
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>titre</th>
                                            <th>date de création </th>

                                            <th>catégorie</th>
                                            <th>niveau</th>
                                            <th>état</th>
                                            <th>Approuvement</th>
                                            <th>actions</th>
                                        </tr>
                                    </thead>
                         
                                                       
                                    <tbody><%let i=1%>
                                        <%formations.forEach(f => {%>
                                            
                                     
                                            <tr>
                                                <td><b><%=i%> </b><%i++%> </td>
                                                <td><%=f.title%></td>
                                                <td> <%=new Date(f.createdAt).toLocaleDateString("el-GR")%></td>

                                                <td><%=f.category%></td>
                                                <td><%=f.niveau%></td>
                                                <td><%=f.isapprouved%></td>
                                                <td> 
                                                    <%if (!f.isapprouved ) {%>
                                                <form action="formationsa/accept/<%=f._id%> "> <input type='submit' class="btn btn-success"  value="accepter" >
                                                <% } else {%> <img class="check" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRUX4pRtmYYrWQW8isCBE7Bpxj7-Yv-5y1SB7_UWp_cZlC-qD2_RnLiaDbc84yKZctpDow&usqp=CAU"><%}%>
          
                                                     </form>
                                                  </td>
                                              <td>  <%let j=0%>
                                                <a href="/formationsa/fr/<%=f._id%>/<%=j%>"><i class="fa fa-search check" ></i></a> 

                                      <a href="formationsa/delete/<%=f._id%>"><img src="https://media.istockphoto.com/vectors/bin-icon-flat-red-round-button-vector-illustration-vector-id1162428585?k=20&m=1162428585&s=612x612&w=0&h=SXnXsEOfJKUPEX9Icx_jusO84LhUW4dSX-Eh-0WnrZY=" class="check" alt="delete"></a> 
                                              </td>
                                         
                                  
                                     </tr> <%  });%>
                        
                              
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
                <%-include ('partials/footer');-%> >
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="js/datatables-simple-demo.js"></script>
    </body>
</html>








